.Register {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}